.title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.body::first-letter {
  text-transform: uppercase;
}

.body {
  white-space: pre-line;
}

.posts:last-child {
  margin-bottom: 0 !important;
}
